@font-face {
  font-family: "DancingScript-SemiBold";
  src: url(../font/DancingScript-SemiBold.ttf);
}
@font-face {
  font-family: "NotoSerif-regular";
  src: url(../font/NotoSerif-Regular.ttf);
}
h1 {
  font-family: "DancingScript-SemiBold";
  color: #fff;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.menu-desktop {
  animation-duration: 7s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-fluid a {
  display: flex;
  justify-content: center;
  color: #fff;
}
.container-fluid a:hover {
  background-color: #0b96f3;
}
.container-fluid a .navbar-brand {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: "DancingScript-SemiBold";
  color: #fff;
  background-color: black;
  margin-top: 1em;
}

.parrafo-central {
  text-align: center;
  font-size: 1.5em;
  font-family: "NotoSerif-regular";
  margin-top: 1em;
  margin-bottom: 1em;
}

.imagen-portada {
  width: 100%;
  height: 10%;
}

.mapa-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(222, 216, 216);
  margin-bottom: 2em;
}
.mapa-video .mapa {
  margin: 1em;
}
.mapa-video .video {
  margin: 1em;
}

.habitaciones {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.habitaciones img {
  margin: 1em;
}
.habitaciones .loft {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}
.habitaciones .dormitorio-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}
.habitaciones .dormitorio-superior {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}

.nuestros-servicios {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.nuestros-servicios .limpieza img {
  margin: 1em;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}
.nuestros-servicios .amenities img {
  margin: 1em;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}
.nuestros-servicios .comidas img {
  margin: 1em;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}

.nuestros-servicios {
  background-color: rgb(222, 216, 216);
}

.color-titulo {
  color: #1b2be1;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.formularios {
  background-color: rgb(222, 216, 216);
  margin-bottom: 3em;
}

.texto-contacto {
  font-family: "DancingScript-SemiBold";
  text-align: center;
  font-size: 2em;
  color: black;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: none;
}

.sub {
  font-family: "NotoSerif-regular";
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.img-promos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}
.img-promos .card {
  margin: 2em;
}
.img-promos p {
  text-align: center;
  color: red;
  font-size: 1em;
  font-family: "NotoSerif-regular";
  margin-bottom: 1em;
  margin-top: 1em;
}

.texto-promos {
  display: flex;
  justify-content: center;
  margin: 2em;
}
.texto-promos p {
  text-align: center;
  margin: 1em;
}

.villa {
  background-color: rgb(222, 216, 216);
}
.villa h3 {
  text-align: center;
  text-decoration: underline;
}

.fotos-villa {
  display: flex;
  justify-content: center;
}
.fotos-villa .card {
  margin: 2em;
}

.descripcion-gal {
  font-family: "NotoSerif-regular";
}

.texto-villa {
  background-color: rgb(222, 216, 216);
  text-align: center;
  font-family: "NotoSerif-regular";
}

.pre {
  margin-top: 2em;
  margin-bottom: 2em;
}

.row p {
  font-size: 1em;
  background-color: black;
  color: #fff;
}

.preguntas {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgb(222, 216, 216);
}
.preguntas h3 {
  font-family: "NotoSerif-regular";
  text-decoration: underline;
  text-align: center;
}

.preg-pileta {
  display: flex;
  justify-content: center;
}
.preg-pileta img {
  width: 270px;
  height: 250px;
  margin: 2em;
}

.preg-pileta-texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 0%;
}

.menu-2 {
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: black;
}
.menu-2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu-2 li {
  margin: 0 2em;
}
.menu-2 a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
}
.menu-2 a:hover {
  background-color: #0b96f3;
  padding: 0.5em;
}

.footer {
  color: #fff;
  text-decoration: underline;
}

.contactanos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.contactanos ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.contactanos li {
  margin: 0 2em;
}
.contactanos p {
  color: #fff;
}

.menu-2 {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .menu-desktop {
    display: none;
  }
  h1 {
    font-size: 2em;
  }
  .menu-mobil a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
  }
  .menu-mobil a h1 {
    font-size: 1em;
  }
  .habitaciones {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nuestros-servicios {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
  }
  .menu-2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .menu-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .menu-2 li {
    margin: 0 2em;
  }
  .menu-2 a {
    color: #fff;
    text-decoration: none;
    padding: 0;
  }
  .menu-2 .contactanos {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .menu-2 .contactanos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .menu-2 .contactanos li {
    margin: 0 2em;
  }
  .menu-2 .contactanos p {
    color: #fff;
  }
  .menu-2 .menu-2 {
    list-style-type: none;
  }
  .menu-2 .footerr-menu {
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mapa-video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
  }
  .mapa-video .mapa {
    width: auto;
    margin: 0;
  }
  .mapa-video .video {
    width: auto;
    margin: 0;
  }
  .titulo-central {
    font-size: 1.5;
  }
  .parrafo-central {
    font-size: 1em;
  }
  .img-promos {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .img-promos .card {
    margin: 1em;
  }
  .texto-promos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fotos-villa {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fotos-villa .card {
    margin: 1em;
  }
  .preg-pileta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .menu-mobil {
    display: none;
  }
  .mapa-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
  .menu-2 {
    list-style-type: none;
  }
  .habitaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .menu-mobil {
    display: none;
  }
  ul {
    list-style-type: none;
  }
}

/*# sourceMappingURL=style.css.map */
