.menu-2 {
    @include flex-center-padding;
    background-color: $negro;
        ul {
            @include menu-ul;
        }
        li {
            margin: 0 2em;
        }
        a {
            color: $blanco;
            text-decoration: none;
            padding: 1em;
            &:hover{
                background-color: $azul-hover;
            }
        }
}