@font-face {
    font-family: "DancingScript-SemiBold";
    src: url(../font/DancingScript-SemiBold.ttf);
}
@font-face {
    font-family: "NotoSerif-regular";
    src: url(../font/NotoSerif-Regular.ttf);
}