*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "DancingScript-SemiBold";
    src: url(./font/DancingScript-SemiBold.ttf);
}
@font-face {
    font-family: "NotoSerif-regular";
    src: url(./font/NotoSerif-Regular.ttf);
}
        /* pag home */
        /* mobil */
@media screen and (max-width: 480px){
    
#grilla-home {
    display: grid;
    grid-template-areas: 
    "header header header"
    "img img img"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 15% auto 10%;
}
/* areas grid */
header {
    grid-area: header;
}

.contenedor-img {
    grid-area: img;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
        /* fin area */
h1 {
    font-family: "DancingScript-SemiBold";
    text-align: center;
    font-size: 3em;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: "NotoSerif-regular";
}
        /* parrafo central */
.parrafo-central {
    text-align: center;
    font-size: 1em;
    font-family: "NotoSerif-regular";
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.imagen-portada {
    width: 100%;
}
.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

}

        /* tablet */

@media screen and (min-width: 480px) and (max-width: 1200px) {
#grilla-home {
    display: grid;
    grid-template-areas: 
    "header header header"
    "img img img"
    "main main main"
    "footer footer footer";
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 15% auto auto 10%;
}
        /* areas grid */
header {
        grid-area: header;
}
        
.contenedor-img {
    grid-area: img;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
    /* fin grid home */
    
    
    /*estilo titulo  */
h1 {
    font-family: "DancingScript-SemiBold";
    text-align: center;
    font-size: 3em;
}

    /* forma de img */
.imagen-portada {
    width: 100%; 
    height: 100%;
}
/* titulo central */
h2 {
    text-align: center;
    font-size: 2em;
    font-family: "NotoSerif-regular";
    margin-top: 1em;
    margin-bottom: 1em;
}
/* parrafo central */
.parrafo-central {
    text-align: center;
    font-size: 1.5em;
    font-family: "NotoSerif-regular";
    margin-bottom: 1em;
}
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}


}

        /* desktop */

@media screen and (min-width: 1200px) {
#grilla-home {
    display: grid;
    grid-template-areas: 
    "header header header"
    "img img img"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% auto auto 10%;
    height: 95vh;
    margin: 2em;
}
    /* areas grid */
header {
        grid-area: header;
}
    
.contenedor-img {
    grid-area: img;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/* fin grid home */


/*estilo titulo  */
h1 {
    font-family: "DancingScript-SemiBold";
    text-align: center;
    font-size: 3em;
}


        /* forma de img */
.imagen-portada{
    width: 100%; height: 100%;
}
        /* titulo central */
h2{
    text-align: center;
    font-size: 2em;
    font-family: "NotoSerif-regular";
    margin: 1em;
}
        /* parrafo central */
.parrafo-central{
    text-align: center;
    font-size: 1.5em;
    font-family: "NotoSerif-regular";
}

.mapa{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
}
    /* fin pag home */



    /* pagina prociones */

    /* mobil */
@media screen and (max-width: 480px){
    
#grilla-promo{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% auto 10%;
}
    /* areas grid */
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
        /* fin area */

       /* fotos promo */

.img-promos img {
    height: 300px;
    width: 320px;
    width: 100%;
}
        /* texto promo */

.img-promos p {
    display: flex;
    color: red;
    font-size: 1em;
    font-family: "NotoSerif-regular";
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

}

    /* tablet */

@media screen and (min-width: 480px) and (max-width: 1200px){
    #grilla-promo {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto 10%;
}

             /* areas grid */
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}


        /* fotos promo */

.img-promos img {
    height: 400px;
    width: 480px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}    

        /* texto promo */

.img-promos p {
    color: red;
    font-size: 1.5em;
    font-family: "NotoSerif-regular";
    text-align: center;
    margin-bottom: 1em; 
    margin-top: 1em;
}

}

        /* desktop */

@media screen and (min-width: 1200px){
    #grilla-promo {
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% auto 10%;
        height: 95vh;
        margin: 2em;
}
        /* areas grid */
header {
            grid-area: header;
}
main {
        grid-area: main;
}
footer {
        grid-area: footer;
}


        /* fotos promo */

.img-promos img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

        /* texto promo */
.img-promos p {
    color: red;
    font-size: 1.5em;
    font-family: "NotoSerif-regular";
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

}
        /* fin pagina promo  */



        /* pagina de contacto */

        /* mobil */
@media screen and (max-width: 480px){
    
    #grilla-contacto {
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% auto 10%;
}
        /* areas grid */
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
        /* fin area */
.menu-header{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.menu-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu-header li{
                margin: 0 1em;
}
.menu-header a{
    color: #fff;
    text-decoration: none;
    padding: 0;
}
.menu-header a:hover{
    background-color: #0b96f3;
}    

        /* fin menu */
.color-titulo{
    color: #fff;  
}

        /* img de fondo */
.fondo-img{
    background-image: url("./fotos/pileta-escalera.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center center;
}
/* texto principal */
.texto-contacto{
    font-family: "NotoSerif-regular";
    text-align: center;
    font-size: 2em;
    color: #1b2be1;   
}
/* formularios */
.formularios{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1em;
}
.boton-form {
    margin-top: 0.5em;
    color: white;
    background-color:  black;
    border: 1px solid white;
    font-weight: 500;
    cursor: pointer;
}
.boton-form:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
        /* menu footer */

.menu-2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.menu-2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu-2 li {
    margin: 0 2em;
}
.menu-2 a {
    color: #fff;
    text-decoration: none;
    padding: 0;
}
.menu-header a:hover{
    background-color: #0b96f3;
}
}

    /* tablet */

@media screen and (min-width: 480px) and (max-width: 1200px){
    #grilla-promo {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto 10%;
}
    
        /* areas grid */
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
    
            
        /* menu header */

.menu-header {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
}
.menu-header ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    display: flex;
}
.menu-header li {
    margin: 0 2em;
}
.menu-header a {
    color: #fff;
    text-decoration: none;
    padding: 2em;
}
.menu-header a:hover {
    background-color: #0b96f3;
}
        /* fin menu */
.color-titulo{
    color: #fff;  
}        
        /* img de fondo */
.fondo-img{
    background-image: url("./fotos/pileta-escalera.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}
        /* texto principal */
.texto-contacto{
    font-family: "NotoSerif-regular";
    text-align: center;
    font-size: 2em;
    color: #1b2be1;   
}
        /* formularios */
.formularios{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1em;
}
.boton-form {
    margin-top: 0.5em;
    color: white;
    background-color:  black;
    border-radius: 2px solid white;
    font-weight: 500;
    cursor: pointer;
}
.boton-form:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
        /* menu footer */
.menu-2 {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
}
.menu-2 ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    display: flex;
}
.menu-2 li {
    margin: 0 2em;
}
.menu-2 a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}
.menu-2 a:hover {
        background-color: #0b96f3;
}
        /* fin menu footer */
}

        /* desktop */
@media screen and (min-width: 1200px){
    #grilla-promo {
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% auto 10%;
        height: 100vh;
        margin: 2em;
}
        /* areas grid */
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
        /* estlio menu */
.menu-header {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
}
.menu-header ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    display: flex;
        
}
.menu-header li {
    margin: 0 2em;
}
.menu-header a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}
.menu-header a:hover{
    background-color: #0b96f3;
}
        
        /* fin menu */ 
.color-titulo{
    font-size: 4em;
    color: #1b2be1; 
    margin-top: 1em;
}
        /* img de fondo */
.fondo-img{
    background-image: url("./fotos/pileta-escalera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
        /* texto principal */
.texto-contacto{
    font-family: "NotoSerif-regular";
    text-align: center;
    font-size: 2em;
    color: #1b2be1;
    margin-bottom: 1em;   
}
        /* formularios */
.formularios{
    display: flex;
    flex-direction: column;
    border-radius: 5px solid;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 1em;
}
.boton-form {
    margin-top: 0.5em;
    color: white;
    background-color:  black;
    border-radius: 1px solid white;
    font-weight: 500;
    cursor: pointer;
}
.boton-form:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
        
        /* menu footer */
.menu-2 {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
}
.menu-2 ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    display: flex;
}
.menu-2 li {
    margin: 0 2em;
}
        .menu-2 a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}
.menu-2 a:hover {
    background-color: #0b96f3;
}
}



        /* pag preguntas frecuentes */
.img-preguntas img{
    width: 50%;
    margin-left: 25%;
}

.preguntas{
    text-align: center;
    font-size: 2em;
}
.preguntas ul{
    list-style: none;
}
    /* fin pag preguntas frecuentes */
.img-preguntas {
    margin-bottom: 2em;
}
        /* pag galeria */


        /* forma imagenes */

.img-gal img{
    width: 400px;
    height: 400px;
}
.img-gal{
    display: block;
    margin-left: 10%;
}
