h1{
    font-family: $fuente-titulos;
    color: $blanco;
    text-align: center;
    font-size: $tamanio-parrafos;
    margin-top: 1em;
    margin-bottom: 1em;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    &:hover {
        background-color: none;
        color: inherit;
    }

}
.menu-desktop {
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container-fluid a{
    display: flex;
    justify-content: center;
    color: $blanco;
    &:hover{
        background-color: $gris;
        h1 {
            background-color: none;
        }
    }
    
.navbar-brand {
    display: flex;
    justify-content: center;
}

}
