h1{
    font-family: $fuente-titulos;
    color: $blanco;
    text-align: center;
    font-size: $tamanio-parrafos;
    margin-top: 1em;
    margin-bottom: 1em;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: 1;

}
.menu-desktop {
    animation-duration: 7s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container-fluid a{
    display: flex;
    justify-content: center;
    color: $blanco;
    &:hover{
        background-color: $azul-hover;
    }
.navbar-brand {
    display: flex;
    justify-content: center;
}

}