.villa {
    background-color: $gris;
    h3{
        text-align: center;
        text-decoration: underline;
    }
}
.fotos-villa {
    display: flex;
    justify-content: center;
    .card{
    margin: 2em;
    }
}
.descripcion-gal {
    font-family: $fuente-textos;
}
.texto-villa {
    background-color: $gris;
    text-align: center;
    font-family: $fuente-textos;
}