.color-titulo{
    color: $azul-tx-contacto;
    font-size: $tamanio-titulos;
    margin-top: 1em;
    margin-bottom: 1em;
}
.formularios {
    background-color: $gris;
    margin-bottom: 3em;
    padding: 2em;
}

.texto-contacto{
    font-family: $fuente-titulos;
    text-align: center;
    font-size: 2em;
    color: $negro;
    margin-top: 2em;
    margin-bottom: 2em;   
    background-color: none;
}
.sub {
    font-family: $fuente-textos;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
