.color-titulo{
    color: $azul-tx-contacto;
    font-size: $tamanio-titulos;
    margin-top: 1em;
    margin-bottom: 1em;
}
.fondo-img{
    background-image: url("../fotos/habitacion-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.texto-contacto{
    font-family: $fuente-titulos;
    text-align: center;
    font-size: 2em;
    color: $negro;
    margin-top: 1em;
    margin-bottom: 1em;   
}