.villa {
    background-color: $gris;
    h3{
        text-align: center;
        text-decoration: underline;
    }
}
.fotos-villa {
    display: flex;
    justify-content: center;
    .card{
    margin: 2em;
    }
}