// menu header desktop
@mixin flex-center-padding{
    //black
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
} 
//ul
@mixin menu-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
//fotos habiticiones
@mixin fotos-habitaciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em;
}