//colores
$rojo: red;
$blanco: #fff;
$negro: black;
$azul-hover: #0b96f3;
$azul-tx-contacto: #1b2be1;
$gris: rgb(222, 216, 216);

//tipografias
$fuente-titulos: "DancingScript-SemiBold";
$fuente-textos: "NotoSerif-regular";

//tamaños
$tamanio-titulos: 3em;
$tamanio-parrafos: 2em;